
*.v2
*.2
*.2
CleanArchMvc/.vs/CleanArchMvc/v17/.suo
*.vsidx
CleanArchMvc/.vs/CleanArchMvc/v17/.suo
*.v2
*.v2
CleanArchMvc/.vs/CleanArchMvc/v17/.suo
*.2
CleanArchMvc/.vs/ProjectEvaluation/cleanarchmvc.metadata.v5.2
CleanArchMvc/.vs/CleanArchMvc/DesignTimeBuild/.dtbcache.v2
CleanArchMvc/.vs/ProjectEvaluation/cleanarchmvc.projects.v5.2
*.dll
*.pdb
*.vsidx
