<!DOCTYPE html>
<html>
<head>
  <title>Política de Privacidade</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="text-center mt-5">Política de Privacidade e Proteção de Dados</h1>
    <p class="text-justify mt-3">O nosso catálogo de produtos preza pela privacidade e segurança de seus usuários. Neste documento, descrevemos como coletamos, usamos e compartilhamos suas informações pessoais.</p>

    <h2 class="mt-5">Coleta de informações:</h2>
    <p class="text-justify mt-3">Reunimos informações sobre você quando você se cadastra em nosso site, faz uma compra ou se inscreve em nossa lista de e-mails. As informações coletadas incluem, entre outras, seu nome, endereço de e-mail, endereço postal, número de telefone e informações de pagamento.</p>

    <h2 class="mt-5">Uso de informações:</h2>
    <p class="text-justify mt-3">Utilizamos as informações coletadas para melhorar a sua experiência de compra, fornecer-lhe atualizações sobre o seu pedido, personalizar as ofertas e promoções para você e enviar-lhe e-mails sobre nossos produtos e serviços.</p>

    <h2 class="mt-5">Compartilhamento de informações:</h2>
    <p class="text-justify mt-3">Nós não vendemos, trocamos ou divulgamos suas informações pessoais para terceiros, exceto quando necessário para cumprir uma transação ou para cumprir leis aplicáveis.</p>
</div>
</body>